// Site footer
.site-footer {
  @include grid-row;
  margin-top: rem-calc(128);
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(48);

  .site-info {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }
}
