// Layout content-sidebar
.site-content {
  @include grid-row;

  .content-area {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }

    @include breakpoint(large) {
      @include grid-column(8);
    }

    .site-main {}
  }

  .widget-area {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
    }

    @include breakpoint(large) {
      @include grid-column(4);
    }
  }
}
